<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Questionary</th>
      <th>Kind Of Question</th>
      <th>Id Question</th>
      <th>Enunciate</th>
      <th>N options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.questionary.name %></td>
        <td><%= question.kind_of_question.kind_name %></td>
        <td><%= question.id %></td>
        <td><%= question.enunciate %></td>
        <td><%= question.n_options %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
