<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @question.Tipo %>
</p>

<p>
  <strong>Form:</strong>
  <%= @question.form %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
