<%= form_for @answer do |form|%>
  <% @questions.each do |question| %>
    <%= fields_for "answers[]", Answer.new do |f| %>
      <%= f.hidden_field :question_id, id: :answer_question_id, value: question.id %>
      <%= f.hidden_field :id_interviewed, id: :answer_id_interviewed, value: current_user.id %>
      <%= f.hidden_field :n_options, id: :answer_n_options, value: question.block_of_questions.count %>
      <br>
      <% case question.kind_of_question.kind_name %>
        <% when "Simples" %>
          <ul>
            <%= f.fields_for :block_of_answers, BlockOfAnswer.new do |block_of_answers_form| %>
              <li>
                <%= block_of_answers_form.label question.enunciate %>
                <%= block_of_answers_form.text_field :text_answer %>
              </li>
              <%= block_of_answers_form.hidden_field :n_option, value: 0 %>
              <%= block_of_answers_form.hidden_field :answer_id, value: @answer.id %>
            <% end %>
          </ul>
        <% when "Múltipla Escolha" %>
          <ul>
            <%= f.fields_for :block_of_answers, BlockOfAnswer.new do |block_of_answers_form| %>
              <li>
                <%= block_of_answers_form.label question.enunciate %>
                <%= block_of_answers_form.collection_check_boxes :n_option, question.block_of_questions, :id, :option do |b| %>
                    <%= b.check_box %>
                    <%= b.label %>
                <% end %>
              </li>
              <%= block_of_answers_form.hidden_field :answer_id, value: @answer.id %>
            <% end %>
          </ul>
        <% when "Escolha Um" %>
          <ul>
            <%= f.fields_for :block_of_answers, BlockOfAnswer.new do |block_of_answers_form| %>
              <li>
                <%= block_of_answers_form.label question.enunciate %>
                <% question.block_of_questions.each do |b| %>
                  <%= block_of_answers_form.radio_button :n_option, b.id %>
                  <%= block_of_answers_form.label :n_option, b.option %>
                <% end %>
              </li>
              <%= block_of_answers_form.hidden_field :answer_id, value: @answer.id %>
            <% end %>
          </ul>
        <% when "Ranking", "Numérica" %>
          <ul>
            <%= f.fields_for :block_of_answers, BlockOfAnswer.new do |block_of_answers_form| %>
              <li>
                <%= block_of_answers_form.label question.enunciate %>
                <% question.block_of_questions.each do |b| %>
                  <%= block_of_answers_form.text_field :text_answer %>
                  <%= block_of_answers_form.label b.option %>
                  <%= block_of_answers_form.hidden_field :n_option, value: b.id %>
                <% end %>
              </li>
              <%= block_of_answers_form.hidden_field :answer_id, value: @answer.id %>
            <% end %>
          </ul>
      <% end %>
    
    <% end %>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>