<p id="notice"><%= notice %></p>

<h1>Block Of Answers</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>N option</th>
      <th>Text answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @block_of_answers.each do |block_of_answer| %>
      <tr>
        <td><%= block_of_answer.answer.question_id %></td>
        <td><%= block_of_answer.answer_id %></td>
        <td><%= block_of_answer.n_option %></td>
        <td><%= block_of_answer.text_answer %></td>
        <td><%= link_to 'Show', block_of_answer %></td>
        <td><%= link_to 'Edit', edit_block_of_answer_path(block_of_answer) %></td>
        <td><%= link_to 'Destroy', block_of_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block Of Answer', new_block_of_answer_path %>
