<p id="notice"><%= notice %></p>

<p>
  <strong>N option:</strong>
  <%= @block_of_answer.n_option %>
</p>

<p>
  <strong>Text answer:</strong>
  <%= @block_of_answer.text_answer %>
</p>

<%= link_to 'Edit', edit_block_of_answer_path(@block_of_answer) %> |
<%= link_to 'Back', block_of_answers_path %>
