<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @questionary.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @questionary.name %>
</p>

<%= link_to 'Edit', edit_questionary_path(@questionary) %> |
<%= link_to 'Back', questionaries_path %>
