<%= form_with(model: block_of_question, local: true) do |form| %>
  <% if block_of_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block_of_question.errors.count, "error") %> prohibited this block_of_question from being saved:</h2>

      <ul>
      <% block_of_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.collection_select(:question_id, @questions, :id, :enunciate) %>
  </div>

  <div class="field">
    <%= form.label :option %>
    <%= form.text_field :option, id: :block_of_question_option %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
