<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @block_of_question.text %>
</p>

<p>
  <strong>Option:</strong>
  <%= @block_of_question.option %>
</p>

<p>
  <strong>Question:</strong>
  <%= @block_of_question.question %>
</p>

<%= link_to 'Edit', edit_block_of_question_path(@block_of_question) %> |
<%= link_to 'Back', block_of_questions_path %>
